---
import Layout from '../layouts/Layout.astro';
---


<Layout title="abaout this proyect">
    
    <h1>Aabout the project</h1>
    
    
    <p>The Spacex launches project is a demo for the Astro course</p>
</Layout>